@font-face {
    font-family: 'Press Start 2P';
    src: url('Fonts/PressStart2P-Regular.ttf') format('truetype');
}
*{
    background: black;
    color: white;  
    box-sizing: border-box;  
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-size: 10px;
}
html, body {
    margin: 0px;
    padding: 0px;
}
.container {
  display: fixed;
  flex-wrap: wrap;
  position: relative;
}
.main-div {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    margin-top: 60px;
}
.nav-name {
    margin-left: 80px;
}
.nav-name img {
    width: 50px;
}
.nav-links {
  margin-right: 105px; /* Adjust as needed for spacing */
  transition: background-color 0.3s ease;
}
.border-wrapper {
  border-top: 2px solid white;
  width: 450px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 10px; /* Adjust the value as needed to shift the border to the right */
}
.border-wrapper-bottom {
  border-bottom: 2px solid white;
  width: 450px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px; /* Adjust the value as needed to shift the border to the right */
}
.nav-links a{
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    position: relative;
    z-index: 1;
    margin-right: 40px;
}
.nav-links a:hover {
    background-color: #00b500;
    box-shadow: 0 0 5px #00b500,
0 0 25px #00b500, 0 0 50px #00b500,
0 0 100px #00b500, 0 0 180px #00b500;
    transition-delay: 0.15s;
}

  .nav-links a:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 204, 0, 0.1) 0%, rgba(0, 204, 0, 0.5) 50%, rgba(0, 204, 0, 0.1) 100%);
    z-index: -1;
    opacity: 0;
    animation: electricity-flow 1.5s linear infinite;
    border-radius: 10px;
  }
  .intro {
    display: flex;
    align-items: center;
  }
  .photo img {
    display: block;
    margin-top: 90px;
    width: 300px;
    margin-left: 200px;
    margin-right: auto;
  }
  .intro-text {
    margin-top: 60px;
    display: block;
    margin-left: 100px;
    margin-right: auto;
    border-bottom: 2px white;
  }
  .intro-name {
    display: inline;
    font-size: 20px;
  }  
  .myname {
    font-size: 23px;
    text-shadow: 0 0 10px #00b500, 0 0 20px #00b500, 0 0 30px #00b500, 0 0 40px #00b500, 0 0 50px #00b500, 0 0 70px #00b500;
  }
  .intro-job {
    font-size: 10px;
  }
  .socials {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px; /* Adjust the gap between icons as desired */
  }
  .fa-linkedin {
    font-size: 20px; /* Adjust the size as desired */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.3s ease;
  }
  .copywrite-notice {
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: #ffffff;
    font-size: 8px;
  } 
  .fa-github {
    font-size: 20px; /* Adjust the size as desired */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.3s ease;
  }
  .fa-facebook {
    font-size: 20px; /* Adjust the size as desired */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.3s ease;
  }
  .fa-instagram {
    border-radius: 20px;
    font-size: 20px; /* Adjust the size as desired */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.3s ease;
  }
  .fa-facebook:hover,
  .fa-github:hover,
  .fa-instagram:hover,
  .fa-linkedin:hover {
    transform: scale(1.3);
    box-shadow: 0 0 10px #00b500, 0 0 20px #00b500
    , 0 0 50px #00b500, 0 0 60px #00b500, 0 0 90px #00b500;
    background-color: #00b500;
  }
  @keyframes electricity-flow {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
      box-shadow: 0 0 5px #00b500, 0 0 25px #00b500, 0 0 50px #00b500, 0 0 100px #00b500, 0 0 180px #00b500;
    }
    30% {
      opacity: 1;
      box-shadow: 0 0 5px #00b500, 0 0 25px #00b500, 0 0 50px #00b500, 0 0 100px #00b500, 0 0 180px #00b500, inset 0 0 8px rgba(255, 255, 255, 0.7);
    }
    40% {
      opacity: 0;
      box-shadow: 0 0 5px #00b500, 0 0 25px #00b500, 0 0 50px #289a09, 0 0 100px #00b500, 0 0 180px #289a09;
    }
    100% {
      opacity: 0;
    }
  }

  @media screen and (max-width: 1015px) {
    
    .main-div {
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }
    .intro {
      flex-direction: column-reverse;
      align-items: center;
    }
    .nav-name {
      margin: 10px;
      align-items: center;
    }

    .nav-links {
      margin: 10px;
    }
    .border-wrapper {
      width: 200px;
      margin: auto;
      padding-top: 1px;
      padding-bottom: 1px;
    }
    .border-wrapper-bottom {
      width: 200px;
      margin: auto;
      padding-bottom: 10px;
      padding-top: 0px;
    }
    .nav-links a {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100px;
      justify-content: center;
      margin: auto;
      margin-top: 30px;
      padding: 10px;
    }

    .photo img {
      width: 200px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
    }

    .intro-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-top: 20px;
      order: -1;
    }
    
    .intro-name {
      margin-right: auto;
      margin-left: auto;
      font-size: 12px;
      text-align: center;
      text-shadow: none;
    }
    .intro-job {
      font-size: 8px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 30px;
      text-align: center;
      letter-spacing: 3px;
      line-height: 25px;
    }
    .socials {
      margin-bottom: 50px;
      margin-top: 5px;
      gap: 35px; /* Adjust the gap between icons as desired */
    }
    .myname {
      font-size: 14px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 10px;
      text-shadow: 0 0 10px #00b500, 0 0 20px #00b500, 0 0 20px #00b500, 0 0 30px #00b500;
    }
    .nav-links a:hover {
      background-color: #00b500;
      box-shadow: 0 0 2px #00b500,
  0 0 20px #00b500, 0 0 30px #00b500;
      transition-delay: 0.15s;
    }
    .copywrite-notice {
      position:absolute;
      bottom: -5%;
      left: 1%;
      color: #ffffff;
      font-size: 8px;
    }
    @keyframes electricity-flow {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 0;
        box-shadow: 0 0 5px #00b500, 0 0 25px #00b500, 0 0 40px #00b500;
      }
      30% {
        opacity: 1;
        box-shadow: 0 0 5px #00b500, 0 0 25px #00b500, 0 0 40px #00b500;
      }
      40% {
        opacity: 0;
        box-shadow: 0 0 5px #00b500, 0 0 25px #00b500, 0 0 40px #289a09;
      }
      100% {
        opacity: 0;
      }
    }
  }
  